<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HockeyTracker.Data.Properties.Settings.HockeyTrackerConnectionString_Dev"
            connectionString="Data Source=(local);Initial Catalog=HockeyTracker;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>